<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <input type="text" name="email" placeholder="Email"/>
        <input type="text" name="name" placeholder="Full Name"/>
        <input type="text" type="password" name="password" placeholder="Password"/>
        <input type="text" type="password" name="password_confirm" placeholder="Confirm Password"/>
        <input type="hidden" value="<%= csrfToken%>" name="_csrf">
        <button type="submit">Signup</button>
    </form>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>