<div class="col-md-12 mt-lg-4 mt-4">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
       <h1 class="h3 mb-0 text-gray-800"><%= pageAbout %></h1>
       <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> 
       Generate Report</a>
    </div>
 </div>
 <div class="col-md-12">
    <div class="row">
       <div class="col-sm-4">
          <div class="card">
             <div class="card-body">
                <h5 class="card-title mb-4">Animals</h5>
                <h1 class="display-5 mt-1 mb-3"><a href="/blogs"><u>View All</u></a></h1>
                <div class="mb-1">
                   <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i>2</span>
                   <span class="text-muted">Total</span>
                </div>
             </div>
          </div>
       </div>
       <div class="col-sm-4">
          <div class="card">
             <div class="card-body">
                <h5 class="card-title mb-4">Pending</h5>
                <h1 class="display-5 mt-1 mb-3"><a href="/blogs"><u>View All</u></a></h1>
                <div class="mb-1">
                   <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 2 </span>
                   <span class="text-muted">Total</span>
                </div>
             </div>
          </div>
       </div>
       <div class="col-sm-4">
          <div class="card">
             <div class="card-body">
                <h5 class="card-title mb-4">Questions</h5>
                <h1 class="display-5 mt-1 mb-3"><a href="/blogs"><u>View All</u></a></h1>
                <div class="mb-1">
                   <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> 6 </span>
                   <span class="text-muted">Total</span>
                </div>
             </div>
          </div>
       </div>
      
    </div>
 </div>