<div class="container topmargin clearfix">
    <div class="row clearfix">
        <div class="col-lg-6">
            <div class="heading-block border-bottom-0 topmargin-sm mb-0">
                <h2 class="font-secondary ls1 nott font-weight-normal">Join to Happy Customers</h2>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates deserunt facere placeat est animi, sunt?</span>
                <a href="/animals" class="button button-large button-rounded topmargin-sm ml-0">Join Us Now</a>
                <div class="line line-sm"></div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4">
                    <div>
                        <div class="counter counter-small color"><span data-from="10" data-to="1136" data-refresh-interval="50" data-speed="1000"></span>+</div>
                        <h5 class="color font-weight-semibold nott mt-0" style="font-size: 16px;">Happy Customers</h5>
                    </div>
                </div>

                <div class="col-md-4">
                    <div>
                        <div class="counter counter-small" style="color: #22c1c3;"><span data-from="10" data-to="145" data-refresh-interval="50" data-speed="700"></span>+</div>
                        <h5 class="font-weight-semibold nott mt-0" style="color: #22c1c3; font-size: 16px;">Pets Hosted</h5>
                    </div>
                </div>

                <div class="col-md-4">
                    <div>
                        <div class="counter counter-small" style="color: #BD3F32;"><span data-from="10" data-to="50" data-refresh-interval="85" data-speed="1200"></span>+</div>
                        <h5 class="font-weight-semibold nott mt-0" style="color: #BD3F32; font-size: 16px;">Professionals</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget" data-nav="false" data-animate-in="slideInUp" data-animate-out="slideOutUp" data-autoplay="5000" data-loop="true" data-stage-padding="5" data-margin="10" data-items-sm="1" data-items-md="1" data-items-xl="1">

                <div class="oc-item">
                    <div class="testimonial topmargin-sm">
                        <div class="testi-image">
                            <a href="#"><img src="demos/pet/images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Ligula scelerisque, tempus dicta eros dolorum itaque fugit, tempore pellentesque, leo dolor, aenean, inceptos aptent nostra adipisci harum etiam explicabo.</p>
                            <div class="testi-meta">
                                John Doe &middot;
                                <span>XYZ Inc.</span>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial topmargin-sm">
                        <div class="testi-image">
                            <a href="#"><img src="demos/pet/images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Sint quae anim enim quaerat! Assumenda esse metus torquent, senectus similique tempor? Massa lacus a, dignissim sequi officiis, elementum non.</p>
                            <div class="testi-meta">
                                John Doe  &middot;
                                <span>XYZ Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="oc-item">
                    <div class="testimonial topmargin-sm">
                        <div class="testi-image">
                            <a href="#"><img src="demos/pet/images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Placeat ultrices perferendis omnis consequat molestie quos pretium! Donec deserunt ratione ultrices laborum vehicula rutrum deserunt! Torquent officiis? Et occaecati.</p>
                            <div class="testi-meta">
                                John Doe &middot;
                                <span>XYZ Inc.</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial topmargin-sm">
                        <div class="testi-image">
                            <a href="#"><img src="demos/pet/images/testimonials/4.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Occaecat autem turpis mollis ac nam cubilia, culpa adipiscing per cubilia porta fugit numquam dignissim sequi. Aspernatur aliquip. Ornare molestias.</p>
                            <div class="testi-meta">
                                John Doe &middot;
                                <span>XYZ Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>