<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <div class="wrapper-error">
            <h1 class="display-1"><b>500</b></h1>
            <h3 class="display-3">Tango Down!</h1>
            <h5>Server is having trouble proccessing your request...</h3>
            <a href="/"><u>Try Again Later</u></a>
        </div>
    </main>
</body>
</html>