<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="style.css">
   </head>
   <body>
       <%- include('../includes/nav.ejs', {isAuth: isAuth})  %>
       </head>
       <body>
         <section id="hero" class="d-flex align-items-center">
       
           <div class="container">
             <div class="row">
               <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                 <h1>Save the Dalmatians & Others <br> Canine Rescue, Inc </h1>
                 <h2>Dedicated to Rescue, Rehabilitation & Re-homing of Dalmatians Through Fostering & Adoption</h2>
                 <div class="d-flex">
                   <a href="#about" class="btn-get-started scrollto">Get Started</a>
                   <a href="https://www.youtube.com/watch?v=f4yB-Zu_8L4" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
                 </div>
               </div>
               <div class="col-lg-6 order-1 order-lg-2 hero-img">
                 <img src="images/dal.jpg" class="img-fluid animated" alt="">
               </div>
             </div>
           </div>
       
         </section><!-- End Hero -->
       
         <main id="main">
       
           <!-- ======= Featured Services Section ======= -->
           <!-- <section id="featured-services" class="featured-services">
             <div class="container">
       
               <div class="row">
                 <div class="col-lg-4 col-md-6">
                   <div class="icon-box">
                     <div class="icon"><i class="icofont-computer"></i></div>
                     <h4 class="title"><a href="">Rescue</a></h4>
                     <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                   </div>
                 </div>
                 <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                   <div class="icon-box">
                     <div class="icon"><i class="icofont-image"></i></div>
                     <h4 class="title"><a href="">Rehabilitation</a></h4>
                     <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                   </div>
                 </div>
                 <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                   <div class="icon-box">
                     <div class="icon"><i class="icofont-tasks-alt"></i></div>
                     <h4 class="title"><a href="">Re-homing</a></h4>
                     <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                   </div>
                 </div>
               </div>
       
             </div>
           </section>End Featured Services Section -->
       
           <!-- ======= About Section ======= -->
           <section id="about" class="about">
             <div class="container">
       
               <div class="row">
                 <div class="col-lg-6">
                   <img src="images/owners.jpg" class="img-fluid" alt="">
                 </div>
                 <div class="col-lg-6 pt-4 pt-lg-0 content">
                   <h3>About Us</h3>
                   <p>
                    Founder (and now retired) President Emeritus Terri Haase established “Save the Dals” in 1996, when she and a friend began distribution of educational flyers about Dalmatians. 
                    Terri’s motivation was a preemptive measure to the American live-action comedy adventure film “101 Dalmatians” (starring Glenn Close) which was set to release that same year. 
                    The movie, which filmed utilizing live Dalmatians and their adorable 99 puppies, set off a wave of impulse-buying of Dalmatian puppies. Shortly after the “cuteness” factor wore off, 
                    individuals and families who knew little about the breed, were now faced with real issues like potty and behavioral training; socialization; exercise; and so on. 
                    Then reality set in, and a great majority of innocent Dals were being dumped into animal shelters because simply put, people had bitten off more than they could chew, and were now faced with the long-term commitment and dedication required to care for and love a pet for its lifetime. Thus, the birth of Save the Dals: Terri’s attempt (and legacy) to make her mark saving Dalmatians.



                   </p>
                 </div>
               </div>
       
             </div>
           </section><!-- End About Section -->
       
           <!-- ======= Counts Section ======= -->
           <section id="counts" class="counts">
             <div class="container">
       
               <div class="row counters">
       
                 <div class="col-lg-3 col-6 text-center">
                   <span data-toggle="counter-up">0</span>
                   <p>Dals Saved</p>
                 </div>
       
                 <div class="col-lg-3 col-6 text-center">
                   <span data-toggle="counter-up">0</span>
                   <p>Fosterings</p>
                 </div>
       
                 <div class="col-lg-3 col-6 text-center">
                   <span data-toggle="counter-up">0</span>
                   <p>Adoptions</p>
                 </div>
       
                 <div class="col-lg-3 col-6 text-center">
                   <span data-toggle="counter-up">0</span>
                   <p>Re-homings</p>
                 </div>
       
               </div>
       
             </div>
           </section><!-- End Counts Section -->
       
           <!-- ======= Services Section ======= -->
           <section id="services" class="services section-bg">
             <div class="container">
              
               <div class="section-title">
                 <span>Adoption &amp; Fostering</span>
                 <h2>Adoption &amp; Fostering</h2>
                 <p>Pets that are available for adoption or foster care</p>
               </div>
               <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                  <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                  </ul>
                </div>
              </div>
               <div class="row">
                 <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                   <div class="icon-box">
                     <div class="icon"><i class="bx bxl-dribbble"></i></div>
                     <h4><a href="">Lorem Ipsum</a></h4>
                     <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                   <div class="icon-box">
                     <div class="icon"><i class="bx bx-file"></i></div>
                     <h4><a href="">Sed ut perspiciatis</a></h4>
                     <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                   <div class="icon-box">
                     <div class="icon"><i class="bx bx-tachometer"></i></div>
                     <h4><a href="">Magni Dolores</a></h4>
                     <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                   <div class="icon-box">
                     <div class="icon"><i class="bx bx-world"></i></div>
                     <h4><a href="">Nemo Enim</a></h4>
                     <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                   <div class="icon-box">
                     <div class="icon"><i class="bx bx-slideshow"></i></div>
                     <h4><a href="">Dele cardo</a></h4>
                     <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                   <div class="icon-box">
                     <div class="icon"><i class="bx bx-arch"></i></div>
                     <h4><a href="">Divera don</a></h4>
                     <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
                   </div>
                 </div>
       
               </div>
       
             </div>
           </section><!-- End Services Section -->
       
           <!-- ======= Portfolio Section ======= -->
           <section id="portfolio" class="portfolio">
             <div class="container">
       
               <div class="section-title">
                 <span>Already Adopted</span>
                 <h2>Already Adopted</h2>
                 <p>Pets that have already been adopted</p>
               </div>
       
               <div class="row">
                 <div class="col-lg-12 d-flex justify-content-center">
                   <ul id="portfolio-flters">
                     <li data-filter="*" class="filter-active">All</li>
                     <li data-filter=".filter-app">App</li>
                     <li data-filter=".filter-card">Card</li>
                     <li data-filter=".filter-web">Web</li>
                   </ul>
                 </div>
               </div>
       
               <div class="row portfolio-container">
       
                 <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                   <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/123915914_10158491201200255_5600693722774530273_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=0debeb&_nc_ohc=TQwKoLYMGwEAX8Ym2-1&_nc_ht=scontent-lax3-1.xx&oh=b162e4a36f80032686986eae8791066d&oe=60A0709D" class="img-fluid" alt="">
                   <div class="portfolio-info">
                     <h4>App 1</h4>
                     <p>App</p>
                     <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                     <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                   <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/123915914_10158491201200255_5600693722774530273_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=0debeb&_nc_ohc=TQwKoLYMGwEAX8Ym2-1&_nc_ht=scontent-lax3-1.xx&oh=b162e4a36f80032686986eae8791066d&oe=60A0709D" class="img-fluid" alt="">
                   <div class="portfolio-info">
                     <h4>Web 3</h4>
                     <p>Web</p>
                     <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                     <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                   <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/123915914_10158491201200255_5600693722774530273_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=0debeb&_nc_ohc=TQwKoLYMGwEAX8Ym2-1&_nc_ht=scontent-lax3-1.xx&oh=b162e4a36f80032686986eae8791066d&oe=60A0709D" class="img-fluid" alt="">
                   <div class="portfolio-info">
                     <h4>App 2</h4>
                     <p>App</p>
                     <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                     <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                   <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/123915914_10158491201200255_5600693722774530273_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=0debeb&_nc_ohc=TQwKoLYMGwEAX8Ym2-1&_nc_ht=scontent-lax3-1.xx&oh=b162e4a36f80032686986eae8791066d&oe=60A0709D" class="img-fluid" alt="">
                   <div class="portfolio-info">
                     <h4>Card 2</h4>
                     <p>Card</p>
                     <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                     <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                   <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/123915914_10158491201200255_5600693722774530273_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=0debeb&_nc_ohc=TQwKoLYMGwEAX8Ym2-1&_nc_ht=scontent-lax3-1.xx&oh=b162e4a36f80032686986eae8791066d&oe=60A0709D" class="img-fluid" alt="">
                   <div class="portfolio-info">
                     <h4>Web 2</h4>
                     <p>Web</p>
                     <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                     <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                   <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.6435-9/123915914_10158491201200255_5600693722774530273_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=0debeb&_nc_ohc=TQwKoLYMGwEAX8Ym2-1&_nc_ht=scontent-lax3-1.xx&oh=b162e4a36f80032686986eae8791066d&oe=60A0709D" class="img-fluid" alt="">
                   <div class="portfolio-info">
                     <h4>App 3</h4>
                     <p>App</p>
                     <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                     <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                   <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                   <div class="portfolio-info">
                     <h4>Card 1</h4>
                     <p>Card</p>
                     <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                     <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                   <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                   <div class="portfolio-info">
                     <h4>Card 3</h4>
                     <p>Card</p>
                     <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                     <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                   </div>
                 </div>
       
                 <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                   <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                   <div class="portfolio-info">
                     <h4>Web 3</h4>
                     <p>Web</p>
                     <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                     <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                   </div>
                 </div>
       
               </div>
       
             </div>
           </section><!-- End Portfolio Section -->
       
       
           <!-- ======= Contact Section ======= -->
           <section id="contact" class="contact">
             <div class="container">
       
               <div class="section-title">
                 <span>Contact</span>
                 <h2>Contact</h2>
                 <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
               </div>
       
               <div class="row">
       
                 <div class="col-lg-5 d-flex align-items-stretch">
                   <div class="info">
                     <div class="address">
                       <i class="icofont-google-map"></i>
                       <h4>Location:</h4>
                       <p>A108 Adam Street, New York, NY 535022</p>
                     </div>
       
                     <div class="email">
                       <i class="icofont-envelope"></i>
                       <h4>Email:</h4>
                       <p>info@example.com</p>
                     </div>
       
                     <div class="phone">
                       <i class="icofont-phone"></i>
                       <h4>Call:</h4>
                       <p>+1 5589 55488 55s</p>
                     </div>
       
                     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                   </div>
       
                 </div>
       
                 <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                   <form action="/animals/question" method="post" class="php-email-form">
                     <div class="form-row">
                       <div class="form-group col-md-6">
                         <label for="name">Your Name</label>
                         <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                         <div class="validate"></div>
                       </div>
                       <div class="form-group col-md-6">
                         <label for="name">Your Email</label>
                         <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                         <div class="validate"></div>
                       </div>
                     </div>
                     <div class="form-group">
                       <label for="name">Subject</label>
                       <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                       <div class="validate"></div>
                     </div>
                     <div class="form-group">
                       <label for="name">Message</label>
                       <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                       <div class="validate"></div>
                     </div>
                     <div class="mb-3">
                       <div class="loading">Loading</div>
                       <div class="error-message"></div>
                       <div class="sent-message">Your message has been sent. Thank you!</div>
                       <input type="hidden" value="<%= csrfToken%>" name="_csrf">
                     </div>
                     <div class="text-center"><button type="submit">Send Message</button></div>
                   </form>
                 </div>
       
               </div>
       
             </div>
           </section><!-- End Contact Section -->
       
         </main><!-- End #main -->
       
         <!-- ======= Footer ======= -->
         <footer id="footer">
       
           <div class="footer-top">
       
           
           </div>
       
           <div class="container footer-bottom clearfix">
             <div class="copyright">
               &copy; Copyright <strong><span>SaveDals</span></strong>. All Rights Reserved
             </div>
             <div class="credits">
               <!-- All the links in the footer should remain intact. -->
               <!-- You can delete the links only if you purchased the pro version. -->
               <!-- Licensing information: https://bootstrapmade.com/license/ -->
               <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/enno-free-simple-bootstrap-template/ -->
             </div>
           </div>
         </footer><!-- End Footer -->
       
         <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
         <script src="assets/js/main.js"></script>
       
       </body>
       
       </html>
      <%- include('../includes/footer.ejs')  %>
   </body>
</html>