<%- include('../includes/head.ejs') %>
</head>
<body class="stretched">
   </head>
   <body>
      <%- include('../includes/nav.ejs') %>
      <main>
		  Home
	  </main>
      <%- include('../includes/footer.ejs') %>
</body>
</html>